/* GLOBAL STYLES */

:root {
  --bg: #151515;
  --bg-contact: #242424;
  --accent: #af00a7;
  --graytext: #d9d9d9;
  --whitetext: #ffffff;
  --invalid: #ff6f5b;
  --fontsize-18: 1.125rem;
  --fontsize-88: 5.5rem;
  --fontsize-48: 3rem;
  --fontsize-24: 1.5rem;
  --fontsize-72: 4.5rem;
  --fontsize-40: 2.5rem;
  --fontsize-32: 2rem;
  --container: 69.375rem;
  --transition: 250ms ease-in-out;
}

html,
body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body,
input,
textarea,
button {
  font-family: "Anta", sans-serif;
}

body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fontsize-18);
  line-height: 1.56;
  background-color: var(--bg);
  color: var(--graytext);
  padding-bottom: 25rem;
}

.bg-contact {
  background-color: var(--bg-contact);
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
}

.header-xl {
  letter-spacing: -0.028rem;
  line-height: 1.1;
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 0.7rem + 7.7vw, 5.5rem);
} /* calculated with Fluid Typography calculator: https://royalfig.github.io/fluid-typography-calculator/ */

h1,
h2,
h3 {
  line-height: 1;
}

p {
  line-height: 1.5;
  font-size: 1rem;
  font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
  color: var(--whitetext);
}

a {
  transition: color var(--transition);
}

a:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px dashed var(--accent);
  outline-offset: 2px;
}

input:invalid,
textarea:invalid {
  outline-color: var(--invalid);
}

a.underline,
button {
  display: inline-block;
  padding-bottom: 0.625rem;
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 2.29px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--graytext);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 2.1em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
}

a:hover {
  color: var(--accent);
}

img,
svg {
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--container);
  margin-inline: auto;
}

@media (min-width: 37.5rem) {
  /* 600px */
  .wrapper {
    width: calc(100% - 3.75rem);
  }
}

/* UTILITY*/
.bottom-border {
  border-bottom: 1px solid var(--whitetext);
}

/* HEADER */

.header {
  position: relative;
  z-index: 1;
  margin-block-start: 20px;
}

.header_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
  margin-top: 20px;
}

.header_home {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--graytext);
  text-decoration: none;
  flex: 1 0 100%;
}

.header_social svg {
  display: inline-block;
  vertical-align: bottom;
}

.header_social > svg > path {
  transition: fill var(--transition);
}

.header_social:hover > svg > path {
  fill: var(--accent);
}

/*Header - change flex for tablet*/
@media (min-width: 37.5rem) {
  .header {
    margin-block-start: 30px;
  }
  .header_nav {
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 32px;
  }
  .header_home {
    flex: 0 1 auto;
    margin-inline-end: auto;
    margin-left: 32px;
  }
  /*Header - change flex for desktop*/
  @media (min-width: 62.5em) {
    .header {
      margin-block-start: 40px;
      margin-block-end: 127px;
    }

    .header_nav {
      padding-right: 30px;
    }
  }
}

/* PROFILE PIC mobile*/

.profile_wrapper {
  padding-bottom: 80px;
}

.profile_image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  width: 174px;
  height: auto;
}

.profile_text {
  text-align: center;
  position: relative;
  margin-block-start: 225px; /*change this if image gets taller*/
}

.profile_headline {
  margin-block-end: 24px;
}

.profile_headline > br {
  display: none;
}

h1 > span {
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 1.18em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}

.profile_rings {
  position: absolute;
  right: 50%;
  top: 130px;
  z-index: -1;
  height: auto;
}

.profile_circle {
  position: relative;
  top: 171px;
  margin-bottom: -129px;
  translate: calc(100vw - 64px - 16px);
  z-index: -1;
}

.profile_description {
  margin-block-end: 24px;
}

/*PROFILE PIC tablet size*/

@media (min-width: 37.5em) {
  .profile {
    position: relative;
    margin-block-start: -62px;
  }

  .profile_wrapper {
    padding-bottom: 60px;
  }

  .profile_content {
    display: flex;
    align-items: center;
  }

  .profile_content picture {
    order: 2;
  }

  .profile_image {
    position: relative;
    width: 42vw;
    max-width: 445px;
    /* width: 322px; */
    height: auto;
    left: auto;
    right: 0;
    translate: 0;
  }

  .profile_rings {
    top: 90px;
    right: auto;
    left: 0;
    translate: -50%;
  }

  .profile_circle {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 190px;
    translate: 50%;
    z-index: 1;
  }

  .profile_text {
    /* width: 62vw; */
    margin-block-start: 90px;
    margin-right: -30px;
    flex: 1 0 58vw;
    text-align: left;
    z-index: 1;
  }

  .profile_headline {
    margin-block-end: 60px;
  }

  .profile_headline > br {
    display: inline-block;
  }

  .profile_description {
    /* width: 70%; */
    margin-block-end: 34px;
  }
}

/*PROFILE PIC desktop*/

@media (min-width: 62.5em) {
  .profile {
    margin-block-start: 0px;
  }

  .profile_wrapper {
    position: relative;
    padding-bottom: 100px;
  }

  .profile_content {
    align-items: flex-start;
  }

  .profile_content picture {
    margin-left: -80px;
  }

  .profile_image {
    margin-block-start: -199px;
  }

  .profile_rings {
    top: 0px;
    translate: -50% -50%;
  }

  .profile_circle {
    top: 322px;
    right: 445px;
  }

  .profile_text {
    margin-block-start: 0;
    margin-right: 0;
    flex: 1;
  }

  .profile_headline {
    margin-block-end: 43px;
  }

  .profile_headline > br {
    display: none;
  }

  .profile_description {
    width: 38ch;
    margin-block-end: 66px;
  }
}

/*SKILLS mobile */

.skills {
  position: relative;
}

.skills_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding-block: 40px;
}

.skills_item {
  text-align: center;
}
.skills_title {
  font-style: var(--whitetext);
  line-height: 1.17; /*line height = line px divided by char size px*/
  font-size: 2rem;
  font-size: clamp(2rem, 0.34rem + 7.1vw, 3rem);
  margin-block-end: 2px;
}

.skills_experience {
  font-style: var(--graytext);
  font-size: 16px;
  line-height: 1.625;
  margin-block-end: 0;
}

.skills_rings {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
  translate: (0 50%);
}

/*SKILLS tablet */

@media (min-width: 37.5em) {
  .skills_wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 52px 24px;
    border: none;
    padding-block: 52px 0;
  }

  .skills_item {
    text-align: left;
  }

  .skills_rings {
    translate: 40% 50%;
  }
}

/* SKILLS desktop */

@media (min-width: 62.5em) {
  .skills_wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 58px 30px;
    padding-block-start: 72px;
  }

  .skills_rings {
    translate: -40% 50%;
    left: 100%;
  }
}

/* PROJECTS - mobile first */

.projects_wrapper {
  padding-block: 80px;
}

.projects_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
  text-align: center;
}
.projects_headline {
  margin-block-end: 0;
}

.projects_headline,
.projects_contact {
  grid-column: span 1;
}

.projects_contact {
  align-self: center;
}

.projects_items {
  grid-column: 1 / span 2;
}

.projects_picture {
  display: block;
}

.projects_image {
  width: 100%;
  height: auto;
}

.projects_title {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
  margin-block-end: 7px;
}

.projects_skills {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-block-end: 20px;
  text-transform: uppercase;
}

.projects_links {
  display: block;
  align-items: center;
  gap: 20px;
}
.projects_links a {
  margin-inline-end: 30px;
}

/* PROJECTS - tablet */
@media (min-width: 37.5em) {
  .projects_grid {
    gap: 60px 24px;
    justify-items: start;
    text-align: left;
  }

  .projects_contact {
    justify-self: end;
    align-self: center;
  }

  .projects_items {
    grid-column: span 1;
  }

  .projects_skills,
  .projects_links {
    display: block;
  }

  .projects_skills span {
    margin-inline-end: 18px;
  }

  .projects_links span {
    margin-inline-end: 30px;
  }
}

/* PROJECTS - desktop */
@media (min-width: 85.5em) {
  .projects_grid {
    gap: 70px 30px;
  }

  .projects_items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .projects_picture {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-block-end: 20px;
  }

  .projects_picture::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transform: scaleX(1);
    transform-origin: 100%;
    transition: opacity 150ms ease-in-out;
  }

  @media (hover: hover) {
    .projects_items:hover .projects_picture::after {
      opacity: 0.5;
    }

    .projects_items:hover .projects_links {
      opacity: 1;
    }

    .projects_items:focus-within .projects_links {
      opacity: 1;
    }

    .projects_items:focus-within .projects_picture::after {
      opacity: 0.5;
    }
  }

  .projects_image {
    width: 100%;
    height: auto;
  }

  .projects_links {
    grid-row: 1;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }

  .projects_links:hover ~ .projects_picture::after {
    opacity: 0.5;
  }

  .projects_skills {
    margin-block-end: 0;
  }
}

/* CONTACT - mobile*/

.contact {
  position: relative;
}

.contact_wrapper {
  padding-block: 84px;
}

.contact_title {
  margin-block-end: var(--fontsize-24);
}

.form_group {
  position: relative;
  margin-block-end: 16px;
}

.form_group.success .form_input {
  border-bottom: 1px solid green;
}

.form_group.error .form_input {
  border-bottom: 1px solid var(--invalid);
}

.form_group.error .form_small {
  opacity: 1;
  visibility: visible;
}

.form {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
  overflow-x: hidden;
}

.form_group input,
.form_group textarea {
  width: 100%;
  padding-block: 16px;
  padding-inline: 24px;
  border: none;
  border-bottom: 1px solid var(--graytext);
  background: transparent;
  font-size: var(--fontsize-24);
  line-height: 1.625;
  color: var(--graytext);
}

.form_input::placeholder-shown .form_label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4.4rem);
}

.form_small {
  color: var(--invalid);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  position: absolute;
  right: 0;
  bottom: 1.1rem;
  border: none;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
}

.form_small::before {
  content: "!";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 1.5rem;
  border-radius: 50%;
  outline: 1px solid currentColor;
  right: 1px;
  top: -4.5rem;
  /* transform: translate(-50%, -50%); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_group > *::placeholder {
  color: var(--graytext);
  opacity: 0.5;
  text-transform: uppercase;
}

.form_group textarea {
  margin-block-end: 32px;
}

.contact_form.align-right {
  display: flex;
  justify-content: flex-end;
}

.contact_button {
  background-color: transparent;
  border: none;
}

.contact_button:hover {
  background-color: transparent;
  border: none;
  color: var(--accent);
}

/* INVALID ICON NOT WORKING
.contact_invalid-icon {
  display: none;
  width: var(--fontsize-24);
  height: var(--fontsize-24);
  position: absolute;
  top: 50%;
  right: 0;
  translate: -50% -50%;
}
.form_group:focus-visible:invalid ~ .contact_invalid-icon,
.contact textarea:focus-visible:invalid ~ .contact_invalid-icon {
  display: inline-block;
}

.contact textarea:focus-visible:invalid ~ .contact_invalid-icon {
  top: 1.2rem;
  right: 1.5rem;
  translate: none;
}


}

*/

.contact_rings {
  position: absolute;
  left: 0;
  bottom: 97px;
  height: auto;
  translate: -75%;
}

/* CONTACT - tablet*/
@media (min-width: 37.5em) {
  .form {
    width: 60%;
    transform: translateX(33%);
  }
  .contact_rings {
    bottom: 47px;
    translate: -75%;
  }
}

/* CONTACT - desktop*/
@media (min-width: 62.5em) {
  .contact_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 27.8rem);
    justify-content: space-between;
  }

  .contact_title {
    margin-block-end: var(--fs-36);
  }

  .contact_rings {
    translate: -160%;
  }

  .form_input {
    width: 90.5%;
  }

  .form_input {
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    padding: 0.7rem 1.6rem 1.4rem 2.4rem;
    border-radius: 2px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 100%);
    width: 89.5%;
    display: block;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
  }

  .form_group:focus {
    outline: none;
  }

  .form_group::placeholder {
    color: #242424;
    letter-spacing: -0.22px;
  }

  .form_label {
    color: #242424;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.6rem;
    letter-spacing: 0.1rem;
    display: block;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
  }

  .form_input:placeholder-shown + .form_label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4.4rem);
  }
}

/* CONTACT - rings for desktop*/
@media (min-width: 85.5em) {
  .contact_rings {
    bottom: 47px;
    translate: -200%;
  }
}

/* 999.98px */
@media (max-width: 62.49875em) {
  .contact_wrapper {
    max-width: 27.8rem;
  }

  .contact_description {
    text-align: center;
  }
}

/* FOOTER*/

footer {
  padding-block: 40px 60px;
}

@media (min-width: 37.5em) {
  footer {
    padding-block: 30px 40px;
  }
}

@media (min-width: 62.5em) {
  footer {
    padding-block: 47px 92px;
  }
}
